<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>
<div th:include="layout :: navigationPanel"></div>
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div>
            <h1 class="text-5xl" th:text="'Witaj ' +${user.name} + ' ' + ${user.surname} + '!'"></h1>
            <div id="main-tables-flex" class="min-h-screen bg-gray-100 flex flex-wrap items-center justify-center">
                <div th:if="${user.role.name() == 'STUDENT'}" class="card w-96 bg-base-100 m-4 shadow-xl">
                    <div class="card-body overflow-x-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nazwa przedmiotu</th>
                                <th th:colspan="${gradesMaxCount}">Oceny</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="subject : ${subjects}">
                                <td th:text="${subject.key.name}"></td>
                                <td th:each="grade : ${subject.value}">
                                    <button class="btn" th:onclick="'grade' + ${grade.id} + '.showModal()'"
                                            th:text="${grade.mark}"></button>
                                </td>
                                <td th:colspan="${gradesMaxCount - subject.value.size()}"
                                    th:if="${gradesMaxCount - subject.value.size() > 0}">
                                    <button class="btn opacity-0"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:if="${user.role.name() == 'TEACHER'}" th:each="student : ${studentsGrades}"
                     class="card w-96 bg-base-100 shadow-xl m-4">
                    <div class="card-body overflow-x-auto">
                        <table class="table">
                            <caption class="font-bold text-2xl"
                                     th:text="${student.key.surname} + ' ' + ${student.key.name}"></caption>
                            <thead>
                            <tr>
                                <th>Nazwa przedmiotu</th>
                                <th th:colspan="${gradesMaxCount}">Oceny</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="subject : ${student.value}">
                                <td th:text="${subject.key.name}"></td>
                                <td th:each="grade : ${subject.value}">
                                    <button class="btn" th:onclick="'grade' + ${grade.id} + '.showModal()'"
                                            th:text="${grade.mark}"></button>
                                </td>
                                <td th:colspan="${gradesMaxCount - subject.value.size()}"
                                    th:if="${gradesMaxCount - subject.value.size() > 0}">
                                    <button class="btn opacity-0"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="'/addGrade/' + ${student.key.login}" class="btn btn-outline border btn-info">Dodaj +</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dialog th:each="grade : ${grades}" th:id="'grade' + ${grade.id}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Szczegóły oceny</h3>
        <p class="py-4">
            <ul>
                <li th:inline="text"><b>Ocena:</b> [[${grade.mark}]]</li>
                <li th:inline="text"><b>Komentarz:</b> [[${grade.comment}]]</li>
                <li th:inline="text"><b>Przedmiot:</b> [[${grade.subject.name}]]</li>
                <li th:inline="text"><b>Nauczyciel:</b> [[${grade.teacher.name}]] [[${grade.teacher.surname}]]</li>
            </ul>
        </p>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Zamknij</button>
            </form>
        </div>
    </div>
</dialog>
<div th:include="layout :: footer"></div>
</body>
</html>