<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <title>PAI final project</title>
    <style>
        .footer {
            position: fixed; bottom: 0px; left: 1px;
            height: 50px;width: 100%;
        }
        a { text-decoration: none; }
        th,td {border: solid 1px black;padding: 5px;}
    </style>
    <link th:href="@{/css/output/style.css}" rel="stylesheet" />
    <script src="./node_modules/preline/dist/preline.js"></script>
</head>
<body>
<div th:fragment="navigationPanel" >
    <ul class="navbar bg-base-100">
        <li sec:authorize="isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/}">Strona główna</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/register}">Zarejestruj się</a></li>
        <li sec:authorize="isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/editUser}">Edytuj konto</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/deleteUser}">Usuń konto</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()">
            <a class="btn btn-ghost text-xl" th:href="@{/logout}">Wyloguj się</a></li>
    </ul>
</div>
<div th:fragment="footer">
    <footer class="footer"><hr/>
        <p>Mateusz Szewczyk, PAI lab final project</p>
    </footer>
</div>
</body>
</html>